<h1>Bonjour {{ firstName }}</h1>

<ul>
        {% for i in 1..loopUntil %}
                <li>{{ i }}</li>
        {% endfor %}
</ul>

<ul>
        {% for user in users %}
                <li>{{ user }}</li>
        {% endfor %}
</ul>