<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
 
    <!-- BOOTSTRAP  -->
    {% block bootstrap %}
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    {% endblock %}



    <!-- Font Awesome  -->
    {% block fontawesome %}

    <script src="https://kit.fontawesome.com/4ad0f6d59d.js" crossorigin="anonymous"></script>

    {% endblock %}

    <!-- script CSS -->
    {% block css %}

    <link rel="stylesheet" type="text/css" href="assets/style/style.css">

    {% endblock %}


    <title>

    {% block title %}test{% endblock %}
    </title>

</head>

<body>
    {% block body %}
        {% block header %}
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                       <ul class="navbar-nav">


                        {% if not user %}

                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link active">
                                    <b id="loggedIn" data-value="{{ user }}"> Bonjour {{ user }}</b>
                                </a>
                            </li>

                            {% if user_roles == "ROLES_ADMIN" %}
                                <li class="nav-item">
                                    <a class="nav-link active" href="/users">Users</a>
                                </li>
                                    <a class="nav-link active" href="/questions">Questions</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        </ul>
                    </div>
                    {% if not user %}
                    <div class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="subscribe">Subscribe</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="#" data-bs-toggle="modal"
                                   data-bs-target="#exampleModal">Login</a>
                        </li>
                    </div>
                    {% else %}
                        <form method="POST">
                            <button type='submit' class='btn btn-outline-danger' name="logout">Logout</button>
                        </form>
                    {% endif %}
                </div>
            </nav>
            
            </header>
        {% endblock %}

        {% block modalConnection %}
            {% if not user %}
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Connection page</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                    <div class="mb-3">
                                        <label class="form-label">Username</label>
                                        <input type="text" class="form-control" name="username">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Password</label>
                                        <input type="password" class="form-control" name="password">
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="checkbox">
                                        <label class="form-check-label" for="exampleCheck1">Keep connected</label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-outline-info">Connect</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}



    {% endblock %}
</body>


</html>