{% extends "layout.html.twig" %}

{% block title %}
    Home page
{% endblock %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block content %}
{% for key, player in players %}
    <p>Player{{ key+1}} is {{ player }}</p><br />
{% endfor %}
{% endblock %}